 <div class="user-details">
  <h1> Hosted Games </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Factorio</h2>
      <img style="width:3em;" alt="Factorio" src="{{ "/assets/img/factorio-logo.png" | prepend: site.baseurl }}" />
      <p>Factorio is a game in which you build and maintain factories. You will be mining resources, researching 
        technologies, building infrastructure, automating production and fighting enemies.</p>
    </div>
    <div class="tech">
      <h2>The Front</h2>
      <img style="width:3em;" alt="The Front" src="{{ "/assets/img/the_front-logo.png" | prepend: site.baseurl }}" />
      <p>The Front is a survival open-world crafting shooter. You play the role of a resistance fighter sent 
        back in time to stop the rise of a tyrannical empire.</p>
    </div>
    <div class="tech">
      <h2>DayZ</h2>
      <img style="width:3em;" alt="DayZ" src="{{ "dayz-logo.png" | prepend: site.baseurl }}" />
      <p>DayZ is an unforgiving, authentic, open world sandbox online game where all players on a server 
        follow a single goal - to survive as long as they can, by all means necessary.</p>
    </div>
</div>
