<div class="user-details">
  <h1> Featured Servers </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/the_front-header.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> The Front PvE/PvP</h3>
    <p>The first 14 days the server is placed in PvE, allowing everyone time to build their defenses. 
      Then the gloves come off and its open season on everyone for 6 more weeks until wipe.</p>
    <a class="project-link" href="steam://run/2285150//+connect%20amp.axr.io:5684">Connect now</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/factorio-header.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Factorio Space Exploration</h3>
    <p>An extended version of the original, with more advanced recipes to grow your factory.</p>
    <a class="project-link" href="steam://run/427520//+connect%20amp.axr.io:34197">Connect now</a>
  </div>
</div>
